@charset "utf-8";

@media only screen and (max-width: 479px) {
	h1 {
		font-size: 1.5em;
		text-align: center;
	}
	p {font-size: .875em;}
	body {
		background-color:#E6ECE9;
		color: #2e3532;
	}
}

